### COMMONS
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
ALCHEMY_API_KEY=
CONDUIT_API_KEY=
QUICKNODE_API_NAME=
QUICKNODE_API_KEY=
DRPC_API_KEY=


### MAINNET
# ENVIRONMENT="mainnet"
# SELECTED_NETWORKS=42161,8453,1,98866,43114,56,10,143,999
# REGISTRY_URL="https://ipfs.centrifuge.io/ipfs/bafybeie27jsvvh3ajzlpdhy7d7ez5xcemeyvdpox6zttbyufm62uobcdze"

## TESTNET
ENVIRONMENT="testnet"
SELECTED_NETWORKS=84532,421614,11155111
REGISTRY_URL="https://gist.githubusercontent.com/filo87/065a797e757920e75d29eaf5d00d71d5/raw/a30410edb9f5290e3fc91ca9105329f30c7ff9bf/testnet.json"