TENDERLY_ACCESS_KEY=
PROJECT_SLUG=
ACCOUNT_SLUG=
DEBUG=false # set to true to keep the tenderly RPC endpoint alive after tests have finished
LOCAL=false # set to true to use spawn local forks using Anvil
